@charset "UTF-8";
/* CSS Document */

@media (max-width: 1200px) {

ul#menu {
	display:none;
}

.lng-container {
	display:none;
}

.flexslider .flex-direction-nav .flex-next {
	right:3%;
}

.flexslider .flex-direction-nav .flex-prev {
	left:3%;
}

.flexslider .flex-control-nav {
    left: 37% !important;
}

.input-box {
	width:395px !important;
	float:left;
}

.token-graph {
	height:850px;
}

.token-table {
	height:850px;
}

}

@media (max-width: 991px) {

.flexslider .flex-control-nav {
    left: 42% !important;
}


.token-graph {
	text-align:center;
	height:auto;
}

.token-graph p {text-align:left;}

.token-table {
	height:auto;
}

.celeb-title {height:90px;}

.input-box {
    width: 495px !important;
    float: left;
    margin-left: 90px;
}

.media-articles {
	height:485px;
}

.footer-logo {
	float:none;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
}

.footer-social {
	float:none; 
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.step-container {
    width: 100%;
    padding-left: 60px;
}

.step-line {
    width: 250px;
}

.step-title {
	width:100%;
	text-align:center;
}

.step-title h3 {font-size:14px;}

.terms {
	width:90px;
	margin-left:35px;
}

.basic-info {
	width:90px;
	margin-left:190px;
}

.identity {
    width: 90px;
    margin-left: 190px;
}



}


@media (max-width: 768px) {

body {font-size:13px;}
h1 {font-size:30px;}
h2 {font-size:24px;}
h3 {font-size:20px;}
h4 {font-size:16px;}

#home {
	padding-top:20%;
}

.home-container {
    width:100%;
	padding-left:15px;
	padding-right:15px;
}

.privatesale {
	left:80px;
}

.publicsale {
	right:0px;
}

.timeline-detail {
	width:300px;
}

.team-img {
	margin:0 auto;
}

.team-title {text-align:center; height:auto;}

.team-title {height:auto;}

#advisers .team-title {height:100px;}

.celeb-title {height:60px;}
.celeb-title h4 {font-size:14px;}

.team-advisor h3 {font-size:16px;}
.team-advisor h4 {font-size:14px;}

.subscription-container {
	width:300px;
}

.input-box {
    width: 240px !important;
    float: left;
    margin-left: 0px;
}

.team-img {
	opacity:1;
}

.media-articles {
	height:auto;
}

.media-slider .flex-direction-nav .flex-next {
    display:none;
}

.media-slider .flex-direction-nav .flex-prev {
    display:none;
}

ul#tokenmenu {
	display:none;
}

.stats {width:31%;}
.tokensale .stats {width:31%;}

.contactform {
	width:100%;
	padding-left:15px;
	padding-right:15px;
}

.footer-logo {
	margin-left:auto;
	margin-right:auto;
}

.copyright {
	text-align:center;
}

.notify-container {
	width:100%;
}

.tokensale {
	padding-top:22%;
}

#regForm {
  width: 100%;
}

.step-container {
    padding-left: 50px;
	width:480px;
}

.step-line {
    width: 150px;
}

.step-title {
	width:480px;
}

.terms {
    margin-left: 20px;
}

.basic-info {
	margin-left:90px;
}

.identity {
    margin-left: 90px;
}

.token-btn {
	border:none;
}

.settings-container {
	width:480px;
}

.wallet-address input[type="text"] {
    width: 375px;
}

.purchase-text {
	margin-top:0px;
	padding-bottom:0px;
}

.radio-payment {
	margin-top:0px;
}

.wallet-authorization input[type="text"] {
	width:435px;
}


}

@media (max-width: 500px) {

.stats {width:30%;}
.tokensale .stats {width:30%;}

.step-container {
    padding-left: 10px;
	width:320px;
}

.step {
	width:20px;
	height:20px;
}

.step-line {
    width: 120px;
	margin-top:10px;
}

.step-title {
	width:340px;
}

.terms {
	width:70px;
    margin-left: 0px;
}

.basic-info {
	width:70px;
	margin-left:65px;
}

.identity {
	width:70px;
    margin-left: 65px;
}

.settings-container {
	width:320px;
}
	
.wallet-address {
	padding:30px 15px;
}

.wallet-address input[type="text"] {
    width: 245px;
}

.wallet-authorization input[type="text"] {
	width:275px;
}
	
}


@media (max-width: 480px) {

#logo {
	width:180px;
	height:27px;
	margin-top:18px;
}	
	
.flexslider .flex-direction-nav .flex-next {
	display:none;
}

.flexslider .flex-direction-nav .flex-prev {
	display:none;
}

.flexslider .flex-control-nav {
    left: 35% !important;
}

.privatesale {
	left:50px;
}

.left-table {
	width:135px; 
}

td {
    padding: 12px 20px;
}

.timeline-icon {
	width:35px;
}

.timeline-icon img {max-width:20px;}

.timeline-detail {
	width:170px;
}

.footer-container {
	width:100%;
	padding-left:15px;
	padding-right:15px;
}

.leaf-r {
	width:45px;
	top:-20px;
}

.leaf-l {
	width:45px;
	top:-15px;
}

ul.social {
	padding-left:0px;
}

.articles-slider .flex-direction-nav .flex-next {
    top:inherit;
	bottom:-52px;
	right: 160px;
}

.articles-slider .flex-direction-nav .flex-prev {
	top:inherit;
	bottom:-52px;
	right: 217px;
}

.articles-viewall {
	top:inherit; 
	bottom:-50px;
}

.articles-btn {
    padding: 12px 25px;
    font-size: 12px;

}

}

